// COPYright (c) 2025 The ZMK Contributors
// SPDX-License-Identifier: MIT
// Config by Xuân Trường 

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define COL 0
#define NUM 1
#define SYM 2
#define FUN 3
#define MOU 4
#define SET 5

/ {
    macros {
        unstick: unstick {
            label = "ZM_unstick";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL 
                        &kp LALT &kp RALT &kp LGUI &kp RGUI>;
        };
    };

    behaviors {
        sk {
            release-after-ms = <2000>;
            quick-release;
        };

        caps_word {
            continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
        };

        lt_custom: layer_tap_custom {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <50>;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        /*
        | 0  | 1  | 2  | 3  | 4  |      | 5  | 6  | 7  | 8  | 9  |
        | 10 | 11 | 12 | 13 | 14 |      | 15 | 16 | 17 | 18 | 19 |
        | 20 | 21 | 22 | 23 | 24 |      | 25 | 26 | 27 | 28 | 29 |
                       | 30 | 31 |      | 32 | 33 |
        */
        compatible = "zmk,combos";

        combo_esc_ei {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp ESC>;
            layers = <MOU COL>;
        };
       
        combo_settings {
            timeout-ms = <300>;
            key-positions = <30 31>;
            bindings = <&mo SET>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYM NUM>;
            then-layer = <FUN>; 
        };
    };

    mouse {
        compatible = "zmk,mouse";
        mousekey-delay-ms = <0>;
        mousekey-interval-ms = <16>;
        mousekey-move-delta = <3>;
        mousekey-initial-speed = <400>;
        mousekey-decelerated-speed = <600>;
        mousekey-max-speed = <900>;
        mousekey-wheel-interval-ms = <40>;
        mousekey-wheel-max-speed = <6>;
    };
    
    keymap {
        compatible = "zmk,keymap";

        colemak-dh_layer {
            // Base (Colemak-DH)
            // ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
            // │  Q  │  W  │  F  │  P  │  B  │   │  J  │  L  │  U  │  Y  │  ;  │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │  A  │  R  │  S  │  T  │  G  │   │  M  │  N  │  E  │  I  │  O  │
            // │     │     │     │     │     │   │     │     │    ESC    |     │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │  Z  │  X  │  C  │  D  │  V  │   │  K  │  H  │  ,  │  .  │  /  │
            // └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
            //                   │ NUM │SPACE│   │ENTER│BSPC │
            //                   │     │     │   │     │ SYM │
            //                   └─────┴─────┘   └─────┴─────┘            
            bindings = <
            &kp Q  &kp W  &kp F  &kp P  &kp B       &kp J  &kp L     &kp U     &kp Y    &kp SEMI
            &kp A  &kp R  &kp S  &kp T  &kp G       &kp M  &kp N     &kp E     &kp I    &kp O
            &kp Z  &kp X  &kp C  &kp D  &kp V       &kp K  &kp H     &kp COMMA &kp DOT  &kp FSLH
                               &mo NUM  &kp SPACE   &kp ENTER   &lt_custom SYM BSPC
            >;
        };

        num_layer {
            // NUM (Numbers + Nav + Edit)
            // ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
            // │  1  │  2  │  3  │  4  │  5  │   │  6  │  7  │  8  │  9  │  0  │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │ SFT*│ ALT*│ GUI*│ CTL*│ MOU │   │  ←  │  ↓  │  ↑  │  →  │     │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │UNDO │ CUT │COPY │ TAB │PASTE│   │CAPSW│  ⌫  │UNSTK│     │ ESC │
            // └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
            //        (* STICKY) │     │     │   │     │     │
            //                   └─────┴─────┘   └─────┴─────┘
            bindings = <
            &kp N1     &kp N2    &kp N3    &kp N4    &kp N5       &kp N6      &kp N7       &kp N8    &kp N9   &kp N0
            &sk LSHIFT &sk LALT  &sk LGUI  &sk LCTRL &tog MOU     &kp LARW    &kp DARW     &kp UARW  &kp RARW &trans
            &kp LC(Z)  &kp LC(X) &kp LC(C) &kp TAB   &kp LC(V)    &caps_word  &kp LC(BSPC) &unstick  &trans   &kp ESC 
                                           &trans   &trans        &trans      &trans
            >;
        };

        sym_layer {
            // SYM (Symbols)
            // ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
            // │  !  │  @  │  #  │  $  │  %  │   │  ^  │  &  │  *  │  (  │  )  │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │  `  │  "  │  [  │  {  │     │   │  -  │  =  │  \  │  |  │     │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │  ~  │  '  │  ]  │  }  │     │   │  _  │  +  │  <  │  >  │  ?  │
            // └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
            //                   │     │     │   │     │     │
            //                   └─────┴─────┘   └─────┴─────┘
            bindings = <
            &kp EXCL  &kp AT   &kp HASH &kp DLLR &kp PRCNT    &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR
            &kp GRAVE &kp DQT  &kp LBKT &kp LBRC &none        &kp MINUS &kp EQUAL &kp BSLH  &kp PIPE &none
            &kp TILDE &kp SQT  &kp RBKT &kp RBRC &none        &kp UNDER &kp PLUS  &kp LT    &kp GT   &kp QMARK
                                        &trans   &trans       &trans    &trans
            >;
        };
            
        function_layer {
            // FUN (Fn + Media)
            // ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
            // │ F1  │ F2  │ F3  │ F4  │ F5  │   │ F6  │ F7  │ F8  │ F9  │ F10 │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │SHIFT│ ALT │ GUI │ CTRL│     │   │BRI+ │VOL+ │MUTE │ F12 │ F11 │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │SHIFT│ ALT │ GUI │ CTRL│     │   │BRI- │VOL- │PSCRN│SLEEP│     │
            // └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
            //                   │     │     │   │     │     │
            //                   └─────┴─────┘   └─────┴─────┘
            bindings = <
            &kp F1     &kp F2   &kp F3   &kp F4     &kp F5    &kp F6        &kp F7       &kp F8     &kp F9  &kp F10
            &kp LSHIFT &kp LALT &kp LGUI &kp LCTRL  &none     &kp C_BRI_UP  &kp C_VOL_UP &kp C_MUTE &kp F12 &kp F11
            &kp LSHIFT &kp LALT &kp LGUI &kp LCTRL  &trans    &kp C_BRI_DEC &kp C_VOL_DN &kp PSCRN  &kp C_SLEEP  &none
                                           &trans   &trans    &trans        &trans
            >;
        };

        mouse_layer { 
            // MOU (Mouse)
            // ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
            // │     │     │ M↑  │     │     │   │ HOM │PG_DN│PG_UP│ END │     │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │ SFT │ M←  │ M↓  │ M→  │ MOU │   │ S←  │ S↓  │ S↑  │ S→  │ MB5 │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │UNDO │ CUT │COPY │ TAB │PAST │   │LCLK │RCLK │MCLK │ ALT │ MB4 │
            // └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
            //                   │     │     │   │     │     │
            //                   └─────┴─────┘   └─────┴─────┘
            bindings = <
            &none      &none          &mmv MOVE_UP   &none           &none       &kp HOME       &kp PG_DN      &kp PG_UP    &kp END    &none
            &kp LSHIFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &tog MOU    &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &mkp MB5
            &kp LC(Z)  &kp LC(X)      &kp LC(C)      &kp TAB         &kp LC(V)   &mkp LCLK      &mkp RCLK      &mkp MCLK    &kp RALT &mkp MB4
                                                     &trans          &trans      &trans         &trans
            >;
        };

        settings_layer {
            // SET (Bluetooth + Unstick + Boot)
            // ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
            // │BT0  │BT1  │BT2  │BTCLR│BOOT │   │BOOT │     │     │     │     │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │BT3  │BT4  │BT5  │     │     │   │     │     │     │     │     │
            // ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
            // │     │     │     │     │     │   │     │     │     │     │     │
            // └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
            //                   │     │     │   │UNSTK│     │
            //                   └─────┴─────┘   └─────┴─────┘
            bindings = <
            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR  &bootloader  &bootloader  &none     &none     &none     &none
            &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &none       &none        &none        &none     &none     &none     &none
            &none        &none        &none        &none       &none        &none        &none     &none     &none     &none
                                                   &none       &none        &unstick     &none
            >;
        };
    };
};

